.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map {
    height: 500px;
}

.ui-icon-infoicon:after { /* For SVG */
	background-image: url("../icons/ic_info_icon.png");
}
/* Fallback */
.ui-nosvg .ui-icon-infoicon:after {
	background-image: url("../icons/ic_info_icon.png");
}

.ui-icon-itineraryicon:after { /* For SVG */
	background-image: url("../icons/ic_route_select.png");
}
/* Fallback */
.ui-nosvg .ui-icon-itineraryicon:after {
	background-image: url("../icons/ic_route_select.png");
}

.ui-icon-creditsicon:after { /* For SVG */
	background-image: url("../icons/ic_credits.png");
}
/* Fallback */
.ui-nosvg .ui-icon-creditsicon:after {
	background-image: url("../icons/ic_credits.png");
}

.ui-icon-referenceicon:after { /* For SVG */
	background-image: url("../icons/ic_reference.png");
}
/* Fallback */
.ui-nosvg .ui-icon-referenceicon:after {
	background-image: url("../icons/ic_reference.png");
}