.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map {
    height: 200px;
}

.ui-icon-infoicon:after { /* For SVG */
	background-image: url("../icons/ic_info_icon.png");
}
/* Fallback */
.ui-nosvg .ui-icon-infoicon:after {
	background-image: url("../icons/ic_info_icon.png");
}

.ui-icon-itineraryicon:after { /* For SVG */
	background-image: url("../icons/ic_route_select.png");
}
/* Fallback */
.ui-nosvg .ui-icon-itineraryicon:after {
	background-image: url("../icons/ic_route_select.png");
}

.ui-icon-creditsicon:after { /* For SVG */
	background-image: url("../icons/ic_credits.png");
}
/* Fallback */
.ui-nosvg .ui-icon-creditsicon:after {
	background-image: url("../icons/ic_credits.png");
}

.ui-icon-referenceicon:after { /* For SVG */
	background-image: url("../icons/ic_reference.png");
}
/* Fallback */
.ui-nosvg .ui-icon-referenceicon:after {
	background-image: url("../icons/ic_reference.png");
}

.leaflet-grid-label .lng {
    margin-left: 8px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.leaflet-popup-content p {
	margin: 18px 0;
	color: black;
}
.leaflet-popup-content b {
	margin: 18px 0;
	font-style: bold;
	color: black;
}
.status-led {
	max-width:16px;
}

/* Downloads popup styling */
.dloadPopup .ui-body {
	font-size: 12px;
	min-width: 150px;
}
.dloadPopup .ui-block-b {
	float: left;
	width: 50%;
}
.dloadPopup .ui-block-a,
.dloadPopup .ui-block-c {
	float: left;
	width:25%;
}
.dloadPopup .ui-block-b,
.dloadPopup .ui-block-c {
	max-height: 20px;
}

#waypointInfoImgHeader {
	max-width: 32px;
	position: relative;
	top: 50%;
	left: 50%;
}

@media (min-width:640px) {
	#popupRoute,
	#popupSync {
			max-width: 50%;
			left: 30%;
	}
}
